@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Lato", sans-serif;
    font-weight: 600;

}

.notFound {
    padding-top: 15%;
    text-align: center;
}

.notFound h1 {
    font-size: 130px;
}

.notFound p {
    font-size: 50px;
}

.mt-12{
    margin-top: 12%;
}
.home-page .hero-section {
    background-color: rgba(var(--bs-dark-rgb), 0.8);
    color: #fff;
    border-radius: 10px;
}

.home-page .hero-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.home-page .hero-subtitle {
    font-size: 1.2rem;
}

.home-page .text-info {
    color: rgba(var(--bs-info-rgb), 1);
}
.about-us-page h1, .about-us-page h2 {
    color: rgba(var(--bs-dark-rgb), 1);
}

.about-us-page p {
    color: rgba(var(--bs-dark-rgb), 0.7);
    line-height: 1.6;
}
