.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #d4d4d6;
    padding: 10px;
}


.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.container span {
    display: block;
    font-size: 17px;
    font-weight: bold;
}